@import "../../styles/colors.scss";

.locations-container {
    color: $grey-1;
    header {
      font-size: 40px;
      .locations-grid {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2rem;
        }
    }
   
    .gurgaon{
        height: 10px;
        width: 10px;
        position: relative;
        top: 185px;
        left: 192px;
        color: #993cff;
        & > .map-text {
            position: relative;
            right: 29px;
            visibility: hidden;
        }
        &:hover > .map-text{
            visibility: visible;
        }
    }
    .map-flex{
        height: 500px;
        background-image: url("../../assets/images/NoPath.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    iframe{
        position:relative; 
        top:-30px; 
        border:none;
    }
    .hide-iframebar{
        height: 50px;
        width: calc(100% - 60px);
        display: inline-block;
        overflow: hidden;
        position: relative;
        top: 22px;
        z-index: 2;
        background-color: white;
        margin-right: 40px;
        min-width: 400px;
    }
    iframe{
        position: relative;
        height: 550px;
        width: calc(100% - 60px);
        margin-right: 40px;
        min-width: 400px;
    }
    @media (max-width: 543px) {
    
        iframe{
            height: 450px;
            right: 35px;
            margin-left: 5px;
        }
        .hide-iframebar{
            right: 35px;
            margin-left: 5px;
        }
      }
    
    .locations-content {
        width:100%;
        height: 100%;
        h3 , p{
            text-align: left;
        }
        & > div{
            float: left;
            height: 100px;
            & > div {
                float: left;
                margin-top: 20px;
            }
        }
    }
    @media (max-width: 992px) {
        .locations-content > div > div{
            display: table-cell;
            margin-top: 0;
        }
        .locations-content > div > div img{
            width: 60px;
            margin-top: 10px;
        }
    }
    
}