@import "../../styles/colors.scss";

.welcome-container {
  min-height: 100vh;
  .group-image > img {
    width: 100%;
    max-width: 400px;
  }
  .welcome-title {
    color: $grey-1;
    font-size: calc(2rem + 30px);
  }

}
