@import "../../styles/colors.scss";
@import "../../styles/media.scss";

.policy-container {
  min-height: 100vh;
  height: 900px;
  overflow: hidden;
  @include medium {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .hide-policy-boxes{
    left: 1000px;
    position: relative;
    transition: left 1s;
  }
  .policy-boxes{
    left: 30px;
    position: relative;
    transition: left 1s;
  }
  color: $grey-1;
  .image-section {
    display: none;
    @include medium {
      display: block;
      position: relative;
      overflow: hidden;
      img {
        max-height: 100%;
        height: 700px;
      }
      div {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        padding: 0 0 0 50px;
        color: white;
        font-size: 10vh;
        font-weight: 500;
        max-width: calc(50vw - 20%);
        span {
          font-size: 8vh;
        }
      }
    }
  }
  .hide-visibility{
    visibility: hidden;
  }
  
  .data-section {
    header {
      font-size: 40px;
    }
    .policy-leaves{
      bottom: 390px;
    }
    
    .awards-lists{
      bottom: 1020px;
      position: relative;
    }
    @media (max-width: 543px) {
    
      .policy-leaves{
        bottom: 670px;
      }
      .awards-lists{
        bottom: 1600px;
      }
      
    }
    .policy-cards {
      & > div {
        float: left;
      }
      & > div > div {
        margin: 20px;
        
        width: 220px;
        max-width: 100%;
        padding: 1rem;
        border-radius: 10px;
        float: left;
        border: 1px solid $grey-3;
        .card-heading {
          font-size: 16px;
          font-weight: 500;
        }
        .card-content {
          font-size: 12px;
          padding-top: 20px;
          li {
            text-align: left;
          }
        }
        &:hover {
          user-select: none;
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15) !important;
        }
      }
      @media (max-width: 543px) {
    
        & > div > div {
          margin: 10px;
          margin-left: 20px;
          margin-bottom: 3px;
        }
        
      }
     
    }
  }
}
@media (max-width: 543px) {
    
  .policy-container{
    height: 1400px;
  }
  
}
