@import "../../styles/colors.scss";
.tools-background{
    background-image: url(../../assets/images/daytoday.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tools-container {
    
    color: $grey-1;
    header {
      font-size: 40px;
      .tools-grid {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2rem;
        }
    }

    .tools-cards {
        float: left;
        height: 305px;
        width: auto;
        margin-top: 20px;
        & > div {
          margin: 20px;
          width: 300px;
          height: 305px;
          padding: 1rem;
          border-radius: 10px;
          border: 1px solid $grey-3;
          .card-heading {
            width: 100%;
            height: 50%;
            img {
                height: 100%;
                width: auto;
            }
          }
          .card-content {
            font-size: 14px;
            padding-top: 20px;
            height: 120px;
            width: auto;

          }
          .card-bottom{
            height: 30px;
            width: auto;
            float: right;
            span:not(:first-child) > i{
                color:#E66637;
                margin-left: 10px;
            }
          }
          &:hover {
            user-select: none;
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15) !important;
          }
        }
      }
}