@import "../../styles/colors.scss";

.clients-container {
  color: $grey-1;
  margin-bottom: 100px;
  header {
    font-size: 40px;
  }
  .client {
    height: 170px;
    width: 200px;
    & div{
      height: 100%;
      width: auto;
      align-items: center;
      vertical-align: middle;
      display: grid;
      margin-left: 55px;
    }
  }
  & > .clients-cards {
    width: 100%;
    & > div {
      max-height: 600px;
      overflow: auto;
      & > div {
        border: 1px solid $grey-3;
        display: table;
        img {
          width: 100px;
        }
      }
    }
    & > #clientsContainer::-webkit-scrollbar {
      height: 0px;
    }
  }
  .fa-arrow-circle-left , .fa-arrow-circle-right{
    font-size: 36px;
    cursor: pointer;
  }
  .button-scroll {
    background-color: white;
    border: 1px solid $grey-4;
    color: $grey-4;
    font-weight: 500;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    padding: 0px 8px;
  }
}
